/* 
#051F6A - main 
#EDEFF3 - background
#CBD8F8 - main accent
#122964 - main font color
#F5C4C4 - accent
#C32626 - accent font
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open-Sans", sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between  ;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    background-color: #051F6A;
    color: #f2f2f2;
    z-index: 1;
}
/* NAV LOGO */
.Pentabyte-logo {
    position: relative;
    width: 60px;
    height: 60px;
    padding-right: 20px;
}

/* NAV H3 */
header h3 {
    font-size: min(25px, 25px);
    text-align: center;
    padding-left: 25px;
}

header h3>a {
    text-decoration: none;
    color: #f2f2f2;
}

header h3>a:hover {
    color: #C32626;
}

/* NAV BAR */
header nav {
    width: 60%;
    max-width: 300px;
    height: 50px;
}

header nav>ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline-start: 0;
    height: 100%;
    flex-wrap: wrap;
}

header nav>ul>li {
    display: block;
    color: #f2f2f2;
}

header li>a{
    text-decoration: none;
    color: #f2f2f2;
}

header li>a:hover {
    text-decoration: none;
    color: #C32626;
}